## **1. 파이썬 컬렉션**
1. 컬렉션 타입 소개
2. 리스트

### <strong>1. 컬렉션 타입 소개</strong>
+ Immutable Sequence 유형: Tuples, String
+ Mutable Sequence 유형: Lists, Sets

In [2]:
# [+] Tuple은 (value 1, value 2, ..., value n)와 같은 형식으로 선언
coordinate = (3, 4) # Tuple 예: 좌표
coordinate[0]  # 셀 마지막 문장 실행 결과는 print() 상관없이 출력

3

In [3]:
# [+] Tuple은 값 변경이 불가능하다(immutable).
coordinate[0] = 5

TypeError: 'tuple' object does not support item assignment

In [7]:
# String 선언 방식: "문자열 내용" 또는 '문자열 내용'
name = "Baek Juyong"
type(name)

TypeError: 'str' object does not support item assignment

In [8]:
# [+] String도 역시 immutable
name[1] = 'B'

TypeError: 'str' object does not support item assignment

In [15]:
# [+] List 선언 방식: [value 1, value 2, ..., value n]
my_info_lst = ["Baek Juyong", 2002, 0.2, True] # list 예: 개인정보
my_info_lst

['Baek Juyong', 2002, 0.2, True]

In [20]:
# [+] List는 값 변경(추가, 삭제, 수정)이 가능하다.
my_info_lst[2] = 1.5 # 수정
my_info_lst.append("Suwon-si") # 추가
my_info_lst.append("Suwon-si")
my_info_lst.remove(1.5) # 삭제
my_info_lst

['Baek Juyong', 2002, 'Suwon-si', 'Suwon-si', 'Suwon-si', 'Suwon-si']

In [21]:
# [+] Set 선언 방식: set(List 객체)
my_info_set = set(my_info_lst)

In [22]:
# [+] Set은 중복 허용하지 않고, 순서가 없다.
...
my_info_set

{2002, 'Baek Juyong', 'Suwon-si'}

In [23]:
# [+] Dictionary 선언 방식: {'key 1':'value 1', ..., 'key n': 'value n'}

hsu_dict = {
    'name' : 'Hanshin University',
    'establishment_year' : 1940, 
    'public|private' : 'private'
    }
hsu_dict

{'name': 'Hanshin University',
 'establishment_year': 1940,
 'public|private': 'private'}

In [24]:
# [+] Dictionary 값 추가
hsu_dict['num. of enrolled students'] = 7588
hsu_dict

{'name': 'Hanshin University',
 'establishment_year': 1940,
 'public|private': 'private',
 'num. of enrolled students': 7588}

### <strong>2. 리스트</strong>

In [25]:
# [+] 리스트 선언
primes = [2,3,5,7,11,13,17,19]
primes

[2, 3, 5, 7, 11, 13, 17, 19]

In [26]:
# 다양한 유형의 데이터 저장
mixed = ['Jenny', 1, 1.4, True]
mixed

['Jenny', 1, 1.4, True]

In [1]:
# 다차원 리스트
list_of_lists = [['a', 1], ['b', 2]]
list_of_lists

[['a', 1], ['b', 2]]

In [27]:
# Zero-indexing
names = ['Roger', 'Rafael', 'Andy', 'Novak']

print(names[0]) # first data
print(names[1])
print(names[2])
print(names[3])

Roger
Rafael
Andy
Novak

In [28]:
# Negative indexing
print(names[-1]) # last data
print(names[-2]) # second to last data
print(names[-3]) # third to last data
print(names[-4])

Novak
Andy
Rafael
Roger

In [32]:
# [+] 리스트 슬라이싱
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
building_slice = hsu_buildings[1:4] # [장공관, 필헌관, 소통관] 선택

In [31]:
# [+] 슬라이스 값 수정
building_slice[0] = "생활관"
print(building_slice)
print(hsu_buildings)

['생활관', '필헌관', '소통관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']

In [33]:
# 다차원 리스트
restaurants = [['해우리', '한식', '고S'], ['효자동설렁탕', '한식', '양곰탕'], 
               ['찌개동아리', '한식', '제육전골'], ['몽상', '양식', '매운크림리조또']]

restaurants[2][2]

'제육전골'

In [36]:
# [+] 리스트 수정 
# 해우리의 대표 메뉴를 '고S'에서 '해우라면'으로 수정
restaurants[0][2] = '해우라면'
restaurants[0]

['해우리', '한식', '해우라면']

In [37]:
# [+] 리스트 병합하기
items_one = ['cake', 'cookie', 'bread']
items_two = ['biscuit', 'tart']

total_items = items_one + items_two
total_items

['cake', 'cookie', 'bread', 'biscuit', 'tart']

#### <strong>리스트에서 제공하는 메소드들</strong>

In [38]:
# [+] len()
knapsack = [2, 4, 3, 7, 10]
size = len(knapsack)
size

5

In [39]:
# [+] append()
orders = ['daisies', 'periwinkle']
orders.append('rose')
orders

['daisies', 'periwinkle', 'rose']

In [42]:
# [+] insert()
store_line = ['Karla', 'Maxium', 'Martin', 'Isabella']
store_line.insert(2, "hi")
store_line

['Karla', 'Maxium', 'hi', 'Martin', 'Isabella']

In [1]:
# [+] sort()
numbers = [4, 2, 1, 3]
numbers.sort()
numbers

[1, 2, 3, 4]

In [1]:
# [+] sorted()
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
print(sorted(hsu_buildings))
print(hsu_buildings)

['늦봄관', '만우관', '소통관', '송암관', '장공관', '장준하통일관', '필헌관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']